hr {
  line-height: 0.5px;
  background-color: ivory;
  width: 90vw;
}

#sh1 {
  font-size: 40px;
  width: 10.5vw;
  color: whitesmoke;
  margin: 2% 0 0 10%;
  padding-bottom: 0.5%;
  border-bottom: 2px solid white;
}

#scontainer {
  display: flex;
  height: 60vh;
  width: 80vw;
  background-color: #4751ac;
  margin: 0 auto auto auto;
  border-radius: 6px;
}
#smaincard {
  display: block;
  height: 60vh;
  width: 40vw;
  background-color: whitesmoke;
  margin-top: 0;
  border-radius: 8px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}

#smaincard img {
  height: 40vh;
  width: 40vw;
  margin: 0 auto auto 0;
  border-radius: 8px 8px 0 0;
}

#smaincard p {
  font-size: 20px;
  font-weight: 300;
  color: black;
  text-align: center;
  padding: 0 2% 0 3%;
}

#smaincard a {
  font-size: 20px;
  font-weight: 300;
  color: black;
  text-align: center;
  margin: 0 auto auto 16.5vw;
}

#sheadlines {
  display: block;
  height: 60vh;
  width: 35vw;
  background-color: #4751ac;
  margin-top: 0;
  margin-left: 8%;
  border-radius: 8px;
}

#sheadlines a {
  font-weight: 500;
  color: whitesmoke;
  margin-left: 5%;
}

#sheadlines-news {
  /* height: 10vh; */
  width: 30vw;
  padding: 0 2% 2% 0;
  /* padding-bottom: 2%; */
  margin: 3% auto auto auto;
}

#sheadlines-news p {
  font-size: 18px;
  font-weight: 600;
  color: whitesmoke;
}

#sh2 {
  margin: auto auto 8% 6%;
  font-size: 35px;
  font-weight: 1000;
  color: whitesmoke;
}

#scontainer1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2vh;
  column-gap: 6vh;
  width: 80vw;
  margin: 5vh auto auto auto;
}

#scontainer1-news {
  height: 45vh;
  width: 18vw;
  background-color: white;
  margin: 5vh auto auto 0;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#scontainer1-news img {
  display: block;
  width: 18vw;
  border-radius: 6px 6px 0 0;
}
#scontainer1-news p {
  margin: 1% 0 0 0;
  padding: 0 2% 0 4%;
  color: black;
  font-weight: 600;
}

@media (max-width: 725px) {
  #scontainer {
    display: grid;
    grid-template-columns: 1;
    row-gap: 3%;
    width: 80vw;
    height: 50vh;
    background-color: #4751ac;
    margin: 0 auto auto auto;
    border-radius: 6px;
  }
  #smaincard {
    display: block;
    height: 50vh;
    width: 80vw;
    background-color: whitesmoke;
    margin-top: 0;
    border-radius: 8px;
  }

  #smaincard img {
    height: 30vh;
    width: 80vw;
    margin: auto;
    border-radius: 8px 8px 0 0;
  }

  #smaincard p {
    font-size: 15px;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: auto;
  }

  #smaincard a {
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-align: center;
    margin: 0 auto auto 35%;
  }

  #sheadlines {
    display: none;
    height: 45vh;
    width: 90vw;
    background-color: #4751ac;
    margin: 0 auto auto auto;
    border-radius: 8px;
  }
  #scontainer1 {
    display: grid;
    grid-template-columns: auto;
    row-gap: 3vh;
    width: 80vw;
    margin: 4vh auto auto auto;
  }
  #scontainer1-news {
    display: inline-flex;
    height: 10vh;
    width: 80vw;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  #scontainer1-news img {
    width: 20vw;
    border-radius: 6px 0 0 8px;
  }
  #scontainer1-news p {
    margin: 1% 0 0 0;
    font-size: 10px;
    padding: auto;
    color: black;
    font-weight: 600;
  }
  #sh1 {
    font-size: 30px;
    margin-top: 5%;
    width: 17vh;
  }
}
