@font-face {
  font-family: OldEnglish;
  src: url("./OldEnglish.ttf");
}
* {
  font-family: Montserrat;
  color: white;
}
html,
body {
  position: relative;
  height: 100%;
  margin: auto;
  background-color: #4751ac;
}
#root {
  height: 100%;
  margin: auto;
}

/* Navbar container */
.navbar {
  text-align: center;
  padding: 0 1% 1% 1%;
  line-height: 0.5vh;
  margin: 0;
  font-weight: 500;
  width: 95%;
}
#navbar-items {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
  margin: 0 0 0 25%;
}
#navbar-items div {
  font-weight: 600;
  color: white;
}
#navbar-items div:hover {
  cursor: pointer;
}
.container {
  margin: 3% 0 0 0;
  display: flex;
  height: 90vh;
  width: 95%;
}
#item1 {
  font-size: 20px;
  height: 90vh;
  width: 60vw;
}
#item2 {
  font-size: 20px;
  height: 90vh;
  width: 40vw;
  margin-top: 1%;
}
#item2 > h1 {
  margin: 2% 0 0 0;
  font-weight: 600;
  text-align: center;
}
#item2 > p {
  text-align: center;
  font-weight: 600;
}
#item1 img {
  width: 40vw;
  height: 75vh;
  margin: 0 0 0 15%;
  border-radius: 8px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.carousel {
  text-align: center;
  font-weight: 600;
  width: 80%;
  height: 50%;
  margin: 10% 0 0 10%;
  border-radius: 8px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
#title {
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
  padding: 2% 0 2% 0;
  border-radius: 0 0 8px 8px;
}
#header {
  font-size: 5vh;
}
#header img {
  height: 5vh;
  width: 3vw;
  margin: 1% 0 0 20%;
}
#header p {
  display: inline;
  font-weight: 500;
  font-family: OldEnglish;
}
#header span {
  float: left;
  font-size: 2.5vh;
  margin: 2% 0 0 5%;
  font-weight: 600;
}
#footer {
  text-align: center;
  height: 10vh;
  width: 100%;
  color: white;
  background-color: #263238;
  bottom: 0;
}
#footer p {
  padding-top: 1.5%;
}
#footer p a {
  text-decoration: none;
}
#footer p a:link {
  color: white;
}
#footer p a:visited {
  color: white;
}

@media (max-width: 725px) {
  .container {
    display: grid;
    grid-template-columns: 1;
    row-gap: 2vh;
    height: 98%;
    width: 90vw;
    margin: auto;
  }

  #item1 {
    margin: 7% auto 3% auto;
    height: 35vh;
    width: 90vw;
  }

  #item2 {
    font-size: 20px;
    height: 60vh;
    width: 90vw;
    margin-top: 1%;
  }

  #item2 > h1 {
    margin: 2% auto 0 auto;
    font-weight: 600;
    text-align: center;
  }

  #item2 > p {
    text-align: center;
    font-weight: 600;
  }

  #item1 img {
    height: 35vh;
    width: 70vw;
    margin: 0 0 0 11%;
  }

  .carousel {
    text-align: center;
    font-weight: 600;
    width: 70vw;
    height: 30vh;
    margin: 5% auto auto auto;
    border-radius: 8px;
  }

  #title {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    font-weight: 500;
    font-size: 13px;
    padding: 1%;
    border-radius: 0 0 8px 8px;
  }

  #title a {
    padding-top: 1%;
  }

  #navbar-items div span {
    display: none;
  }

  #navbar-items {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    margin: 0 0 0 12%;
  }
  #navbar-items i {
    font-size: larger;
  }

  #footer {
    height: 7vh;
    bottom: 0;
  }

  #footer p {
    margin-top: 4vh;
    padding-top: 4%;
    font-size: 13px;
  }

  #header span {
    display: block;
    width: 100%;
    font-size: 15px;
    margin-bottom: 5%;
  }

  #header p {
    font-size: 25px;
    margin: auto;
  }

  #header img {
    margin-left: 12%;
    width: 10vw;
  }

  html,
  body {
    position: relative;
    height: 100%;
    max-width: 100vw;
    margin: 0;
    background-color: #4751ac;
    overflow-x: hidden;
  }

  #root {
    height: 100%;
    max-width: 100vw;
    margin: 0;
  }
}

@media (max-width: 725px) {
  #item2 > p {
    font-size: 17px;
    text-align: center;
    font-weight: 600;
  }
  #header img {
    margin-left: 9%;
    width: 10vw;
  }
}
